body {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

.app {
  background-color: black;
}

.logo {
  font-size: 1.25rem;
  background: linear-gradient(white 50%, #FFD700 50%);
  font-weight: bolder;
  color: transparent;
  -webkit-background-clip: text;
  padding-top: .625rem;
  padding-left: .625rem;
}

.app-wrapper {
  display: flex;
  justify-content: center;
  margin-top: 2.5rem;
  height: 100vh;
}

.calculator-wrapper {
  background-color: rgb(39, 38, 38);
  width: 25rem;
  height: 80%;
}
